    <img src="img/{{image}}"/>
    <h4 class="name">{{name}}</h4>
    <span class="house">House {{house}}</span>
    <span class="quote">"{{quote}}"</span>
    <span class="actor">Played by {{actor}} for {{episodes}} episodes.</span>